html(lang='en')
	head
		meta(name='viewport',content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')

		title Click & Change Calendar

		link(rel='shortcut icon',href='favicon.png')
		link(rel='stylesheet',href='css/bootstrap.css')
		link(rel='stylesheet',href='css/calendar.css')
		//link(rel='stylesheet',href='')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script(src='https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js')
	
	body
		#calendar
			#gridMonths
				#month
				a#buttonRight
				a#buttonLeft
			#gridDays
			#gridEvents
		#form
			form#eventform.centered
				.field
					label id:
					input(id='eventId',type='text',name='id')
				.field
					label color:
						//input(id='eventColor',type='text',name='color')
					select(name='color')
						option(value='normal') normal
						option(value='orange') orange
						option(value='blue') blue
						option(value='red') red
						option(value='green') green
				.field
					label title:
					input(id='eventTitle',type='text',name='title',placeholder='title')
				.field
					label description:
					input(id='eventDescription',type='text',name='description',placeholder='description')
				.field
					button(type='submit',value='Send') Submit

		script(src='calendar.js')
